

.table_class5DeffCell
{
border-bottom-color: #F3F3F3;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.table_class14DeffCell
{
border-bottom-color: #3D3D3D;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.table_class23DeffCell
{
border-top-color: #bfbfbf;
border-top-style: solid;
border-top-width: 1px;
}
.table_class132DeffCell
{
border-bottom-color: #F3F3F3;
border-bottom-style: solid;
border-bottom-width: 1px;
}
li
{
list-style-position:inside;
}
li p
{
display:inline;
}

.Title
{
font-weight: bold;
font-size: 18px;
}

.HeaderCell
{
font-weight: bold;
}

.LabelItalic
{
font-style: italic;
text-decoration: underline;
}

.LabelStrong
{
font-weight: bold;
text-decoration: underline;
}

.InternalHyperlink
{
color: #0000FF;
text-decoration: underline;
}

.table_of_contentsfdebf8e0-cd32-4b38-9419-7fc6c47197a0
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.paragraph_class1
{
margin-top: 0.0px;
}

.image_class2
{
}

.text_class3
{
}

.text_class4
{
color: #171717;
font-size: 28px;
font-family: IBM Plex Sans, Arial;
font-weight: bold;
}

.table_class5
{
border-collapse: collapse;
background-color: #FFFFFF;
}

.row_class6
{
}

.cell_class7
{
text-align: left;
vertical-align: top;
width: 856pt;
}

.text_class9
{
color: #171717;
font-size: 14px;
font-family: IBM Plex Sans SemiBold, Arial Black;
font-weight: bold;
}

.text_class10
{
color: #565656;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.paragraph_class13
{
}

.table_class14
{
border-collapse: collapse;
}

.row_class15
{
color: #171717;
font-size: 14px;
font-family: IBM Plex Sans SemiBold, Arial Black;
background-color: #FFFFFF;
}

.cell_class16
{
text-align: left;
vertical-align: top;
width: 250pt;
}

.text_class18
{
font-weight: bold;
}

.cell_class19
{
text-align: left;
vertical-align: top;
width: 200pt;
}

.cell_class21
{
text-align: left;
vertical-align: top;
width: 403pt;
}

.table_class23
{
border-collapse: collapse;
}

.row_class24
{
color: #565656;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
background-color: #FFFFFF;
}

.hyperlink_class26
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.text_class28
{
font-weight: normal;
}

.hyperlink_class30
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.text_class36
{
background-color: transparent;
}

.hyperlink_class42
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}
body {background-color: #F3F3F3}
.paragraph_class45
{
margin-top: 0.0px;
}

.image_class46
{
border-top-color: #F3F3F3;
border-left-color: #F3F3F3;
border-right-color: #F3F3F3;
border-bottom-color: #F3F3F3;
border-top-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-style: solid;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
}

.hyperlink_class50
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class56
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class59
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class61
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class65
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class72
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class76
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class80
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class84
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class88
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class92
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class96
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class100
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class104
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class108
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class112
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class116
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class120
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class124
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.hyperlink_class128
{
color: #0062FF;
font-size: 14px;
font-family: IBM Plex Sans, Arial;
}

.table_class132
{
border-collapse: collapse;
background-color: #FFFFFF;
}

.row_class133
{
color: #171717;
font-size: 14px;
font-family: IBM Plex Sans SemiBold, Arial Black;
}

.cell_class134
{
text-align: left;
vertical-align: top;
width: 856pt;
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom-style: none;
border-top-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
}

.text_class136
{
font-weight: bold;
}

.paragraph_class203
{
margin-top: 0.0px;
}